{% extends 'base.html' %}

{% block content %}


	<!-- //Header Container  -->
	<!-- Main Container  -->
	<div class="main-container container">
		<ul class="breadcrumb">
			<li><a href="#"><i class="fa fa-home"></i></a></li>
			<li><a href="#">Checkout</a></li>

		</ul>

		<div class="row">
			<!--Middle Part Start-->
			<div id="content" class="col-sm-12">
			  <h2 class="title">Checkout</h2>
			  <div class="so-onepagecheckout ">
				<div class="col-left col-sm-3">
				  <div class="panel panel-default">
					<div class="panel-heading">
					  <h4 class="panel-title"><i class="fa fa-user"></i> Личные данные</h4>
					</div>
					  <div class="panel-body">
						<form method="post">
							{% csrf_token%}
							{{ form }}
							<div class='text-center'>
								<button type="submit" class="btn btn-primary">Создать заказ</button>
							</div>
						</form>
					  </div>
				  </div>
				</div>

					<div class="col-sm-12">
					  <div class="panel panel-default">
						<div class="panel-heading">
						  <h4 class="panel-title"><i class="fa fa-shopping-cart"></i> Shopping cart</h4>
						</div>
						  <div class="panel-body">
							<div class="table-responsive">
							  <table class="table table-bordered">
								<thead>
								  <tr>
									<td class="text-center">Image</td>
									<td class="text-left">Product Name</td>
									<td class="text-left">Quantity</td>
									<td class="text-right">Unit Price</td>
									<td class="text-right">Total</td>
								  </tr>
								</thead>
								<tbody>
								  <tr>
									<td class="text-center"><a href="product.html"><img width="60px" src="image/demo/shop/product/E4.jpg" alt="Xitefun Causal Wear Fancy Shoes" title="Xitefun Causal Wear Fancy Shoes" class="img-thumbnail"></a></td>
									<td class="text-left"><a href="product.html">Emasa rumas gacem</a></td>
									<td class="text-left"><div class="input-group btn-block" style="min-width: 100px;">
										<input type="text" name="quantity" value="1" size="1" class="form-control">
										<span class="input-group-btn">
										<button type="submit" data-toggle="tooltip" title="Update" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
										<button type="button" data-toggle="tooltip" title="Remove" class="btn btn-danger" onClick=""><i class="fa fa-times-circle"></i></button>
										</span></div></td>
									<td class="text-right">$114.35</td>
									<td class="text-right">$114.35</td>
								  </tr>
								</tbody>
								<tfoot>
								  <tr>
									<td class="text-right" colspan="4"><strong>Sub-Total:</strong></td>
									<td class="text-right">$93.73</td>
								  </tr>
								  <tr>
									<td class="text-right" colspan="4"><strong>Flat Shipping Rate:</strong></td>
									<td class="text-right">$4.69.00</td>
								  </tr>
								  <tr>
									<td class="text-right" colspan="4"><strong>Eco Tax (-2.00):</strong></td>
									<td class="text-right">$3.75.00</td>
								  </tr>
								  <tr>
									<td class="text-right" colspan="4"><strong>VAT (20%):</strong></td>
									<td class="text-right">$19.68</td>
								  </tr>
								  <tr>
									<td class="text-right" colspan="4"><strong>Total:</strong></td>
									<td class="text-right">$121.85</td>
								  </tr>
								</tfoot>
							  </table>
							</div>
						  </div>
					  </div>
					</div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<!--Middle Part End -->

		</div>
	</div>
	<!-- //Main Container -->

	<!-- Footer Container -->
{% endblock %}