


//--- BLOCK SPOTLIGHT -------------------

#content{}
#content-top{margin-top: 10px; margin-bottom: 10px;}
.topbar{background: $gray-base;}

.so-spotlight1{padding: 93px 0; margin-bottom: 50px; min-height: 500px;
    background-image: url('#{$base-url-theme}/home6/bg-clientsay-group.jpg');
}
