/*******************************************************
  Style Color
********************************************************/
@import 'variables/theme_variables';

$linkColor		: #478bca;
$background		: $linkColor;
$background1		: $linkColor;
$base-url			:'../image/theme/color/blue/';
