
/*******************************************************
  Style Color
********************************************************/
@import 'variables/theme_variables';

$linkColor		: #3ab54a;
$background		: $linkColor;
$background1		: $linkColor;
$base-url			:'../image/theme/color/green/';
