/*******************************************************
  Style Color
********************************************************/
@import 'variables/theme_variables';

$linkColor		: #e34931;
$background		: $linkColor;
$background1		: $linkColor;
$base-url			:'../image/theme/color/boocdo/';