/*******************************************************
  Style Color
********************************************************/
@import 'variables/theme_variables';

$linkColor		: #F4A137;
$background		: $linkColor;
$background1		: $linkColor;
$base-url			:'../image/theme/color/orange/';
