{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Main Container  -->
<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Smartphone & Tablets</a></li>
    </ul>

    <div class="row">
        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3" id="column-left">
            <div class="module menu-category titleLine">
                <h3 class="modtitle">Категории</h3>
                <div class="modcontent">
                    <div class="box-category">
                        <ul id="cat_accordion" class="list-group">
                            {% for category in categories %}
                            <li class="hadchild">
                                <a href="{% url 'category_list' category.slug %}" class="cutom-parent">
                                    {{ category.name }}
                                </a>
                                <span class="button-view  fa fa-plus-square-o"></span>
                                <ul style="display: block;">
                                    {% for subcategory in category.subcategory_set.all %}
                                    <li>
                                    <a href="{% url 'subcategory_list' category.slug subcategory.slug %}">
                                        {{subcategory.name}}
                                    </a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>


                </div>
            </div>
            <div class="module latest-product titleLine">
                <h3 class="modtitle">Latest Product</h3>
                <div class="modcontent ">
                    <div class="product-latest-item">
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><img src="image/demo/shop/product/m1.jpg" alt="Cisi Chicken"
                                                 title="Cisi Chicken" class="img-responsive"
                                                 style="width: 100px; height: 82px;"></a>
                            </div>
                            <div class="media-body">
                                <div class="caption">
                                    <h4><a href="#">Sunt Molup</a></h4>

                                    <div class="price">
                                        <span class="price-new">$100.00</span>
                                    </div>
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                    class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                    class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                    class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                    class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                    class="fa fa-star-o fa-stack-1x"></i></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="product-latest-item">
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><img src="image/demo/shop/product/m2.jpg" alt="Cisi Chicken"
                                                 title="Cisi Chicken" class="img-responsive"
                                                 style="width: 100px; height: 82px;"></a>
                            </div>
                            <div class="media-body">
                                <div class="caption">
                                    <h4><a href="#">Et Spare</a></h4>

                                    <div class="price">
                                        <span class="price-new">$99.00</span>
                                    </div>
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                    class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                    class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                    class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                    class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="product-latest-item">
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><img src="image/demo/shop/product/18.jpg" alt="Cisi Chicken"
                                                 title="Cisi Chicken" class="img-responsive"
                                                 style="width: 100px; height: 82px;"></a>
                            </div>
                            <div class="media-body">
                                <div class="caption">
                                    <h4><a href="#">Cisi Chicken</a></h4>

                                    <div class="price">
                                        <span class="price-new">$59.00</span>
                                    </div>
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                    class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                    class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                    class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                    class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="product-latest-item transition">
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><img src="image/demo/shop/product/9.jpg" alt="Cisi Chicken"
                                                 title="Cisi Chicken" class="img-responsive"
                                                 style="width: 100px; height:82px;"></a>
                            </div>
                            <div class="media-body">
                                <div class="caption">
                                    <h4><a href="#">Kevin Labor</a></h4>
                                    <div class="price">
                                        <span class="price-new">$245.00</span>
                                    </div>
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                    class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                    class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                    class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                    class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="module">
                <div class="modcontent clearfix">
                    <div class="banners">
                        <div>
                            <a href="#"><img src="image/demo/cms/left-image-static.png" alt="left-image"></a>
                        </div>
                    </div>

                </div>
            </div>
        </aside>
        <!--Left Part End -->

        <!--Middle Part Start-->
        <div id="content" class="col-md-9 col-sm-8">
            <div class="products-category">
                <div class="category-derc">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="banners">
                                <div>
                                    <a href="#"><img src="image/demo/shop/category/electronic-cat.png"
                                                     alt="Apple Cinema 30&quot;"><br></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Filters -->
                <div class="product-filter filters-panel">
                    <div class="row">
                        <div class="col-md-2 visible-lg">
                            <div class="view-mode">
                                <div class="list-view">
                                    <button class="btn btn-default grid active" data-view="grid" data-toggle="tooltip"
                                            data-original-title="Grid"><i class="fa fa-th"></i></button>
                                    <button class="btn btn-default list" data-view="list" data-toggle="tooltip"
                                            data-original-title="List"><i class="fa fa-th-list"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="short-by-show form-inline text-right col-md-7 col-sm-8 col-xs-12">
                            <div class="form-group short-by">
                                <label class="control-label" for="input-sort">Sort By:</label>
                                <select id="input-sort" class="form-control"
                                        onchange="location = this.value;">
                                    <option value="" selected="selected">Default</option>
                                    <option value="">Name (A - Z)</option>
                                    <option value="">Name (Z - A)</option>
                                    <option value="">Price (Low &gt; High)</option>
                                    <option value="">Price (High &gt; Low)</option>
                                    <option value="">Rating (Highest)</option>
                                    <option value="">Rating (Lowest)</option>
                                    <option value="">Model (A - Z)</option>
                                    <option value="">Model (Z - A)</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-limit">Show:</label>
                                <select id="input-limit" class="form-control" onchange="location = this.value;">
                                    <option value="" selected="selected">9</option>
                                    <option value="">25</option>
                                    <option value="">50</option>
                                    <option value="">75</option>
                                    <option value="">100</option>
                                </select>
                            </div>
                        </div>
                        <div class="box-pagination col-md-3 col-sm-4 col-xs-12 text-right">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{page_obj.previous_page_number}}"><</a></li>
                                {% endif %}
                                <li class="active"><span>{{page_obj.number}}</span></li>
                                {% if page_obj.has_next %}
                                <li><a href="?page={{page_obj.next_page_number}}">&gt;</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- //end Filters -->
                <!--changed listings-->
                <div class="products-list row grid">
                    {% for product in products %}
                    <div class="product-layout col-md-4 col-sm-6 col-xs-12 ">
                        <div class="product-item-container">
                            <div class="left-block">
                            <div class="product-image-container lazy second_img ">
                                <img data-src="{{product.image.url}}" src="{{product.image.url}}"  alt="{{product.name}}" class="img-responsive" />
                            </div>
                            </div>
                            <div class="right-block">
                                <div class="caption">
                                    <h4><a href="{% url 'product_detail' product.id %}">{{product.name}}</a></h4>
                                    <div class="price">
                                        <span class="price-new">{{product.price}}сом</span>
                                    </div>
                                    <div class="description item-desc hidden">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
                                    </div>
                                </div>

                                  <div class="button-group">
                                      <a href="{% url 'add_cart' product.id %}">
                                          <button class="addToCart" type="button" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('42', '1');"><i class="fa fa-shopping-cart"></i>
                                          <span class="hidden-xs">Добавить в корзину</span>
                                      </button>
                                      </a>
                                    <button class="wishlist" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('42');"><i class="fa fa-heart"></i></button>
                                    <button class="compare" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('42');"><i class="fa fa-exchange"></i></button>
                                  </div>
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>                    <!--// End Changed listings-->
                <!-- Filters -->
                <div class="product-filter product-filter-bottom filters-panel">
                    <div class="row">
                        <div class="col-md-2 hidden-sm hidden-xs">
                        </div>
                        <div class="short-by-show text-center col-md-7 col-sm-8 col-xs-12">
                            <div class="form-group" style="margin: 7px 10px">Showing 1 to 9 of 10 (2 Pages)</div>
                        </div>
                        <div class="box-pagination col-md-3 col-sm-4 col-xs-12 text-right">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{page_obj.previous_page_number}}"><</a></li>
                                {% endif %}
                                <li class="active"><span>{{page_obj.number}}</span></li>
                                {% if page_obj.has_next %}
                                <li><a href="?page={{page_obj.next_page_number}}">&gt;</a></li>
                                {% endif %}
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- //end Filters -->

            </div>

        </div>


    </div>
    <!--Middle Part End-->
</div>
<!-- //Main Container -->

{% endblock %}